@import "../custom";

.user-layout{
    .signout-button{
        background-color: transparent;
        color: black;
        height: min-content;
        padding: 8px;
    }


    .content{
        margin-top: 5rem;
        padding-top: 2rem;
    }

    a{
        color: black;

        &:hover{
            color: inherit;
            text-decoration: none;
        }
    }

    .header {
        .navbar {
          font-family: $custom-body-font;
          box-shadow: $box-shadow;
          height: 5rem;
      
          h1{
              font-size: larger;
          }
          
        }
      }
      
}