@import "../custom";

.home-view{

    .name{
        animation: colorChange 15s alternate infinite;
    }

    .overview-card{
        margin-top: 2rem;
    }
    
    .chart-container{
        height: 300px;
    }
}