@import "../custom";

.landing-view {
  width: 100vw;
  height: 100vh;

  .info {
    position: fixed;
    top: 0;
    right: 0;
    font-size: larger;
    padding: 1.5rem;

    a {
      color: black;
    }
  }

  .landing-circle {
    width: 70%;
    height: 150%;
    border-radius: 50%;
    background-color: $custom-midnight-teal;
    position: fixed;
    margin-top: -10%;
    margin-left: -15%;
    animation: backgroundColorChange 15s alternate infinite;
    pointer-events: none;
    z-index: 2;
  }

  .header {
    .navbar {
      z-index: 1;
      box-shadow: none;
    }
  }

  .signup-panel {
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 4rem;
    }

    .btn-primary {
      animation: backgroundColorChange 15s alternate infinite;
      border-color: transparent;
    }
  }
}
