@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&family=Titillium+Web&display=swap');

$custom-body-font: 'Titillium Web';
$custom-title-font: 'MuseoModerno';

$custom-midnight-teal: #1A535C;
$custom-turquoise: #4ECDC4;
$custom-yellow: #FBB13C;
$custom-pink: #FF5B5B;
$custom-blue: #006992;

$font-family-sans-serif: $custom-body-font;
$headings-font-family:   $custom-title-font;

h1{
    font-family: $custom-title-font;
    font-size: 4rem;
}

p{
    font-family: $custom-body-font;
}

.btn-primary{
  background-color: $custom-blue;
}
.card {
    margin: 1rem 0rem;
    border-radius: 0.2rem;
    text-align: center;
  }

.card-title{
  color: $custom-blue;
  font-weight: 600;
}

.list-group{
  text-align: left;
}

.carousel {
    .carousel-inner {
    display: block;
    margin: auto;

    .carousel-caption {
      position: relative;
      left: auto;
      right: auto;
    }

    .slide .carousel-indicators li{
        background-color: black;
    }

    h3 {
        color: black;
        padding: 0.7rem 0rem;
    }

    p {
      color: black;
    }

    li {
        background-color: black;
    }
  }

}

.modal-dialog {
  margin: 3rem;
  width: auto;
}




