@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&family=Titillium+Web&display=swap');

$custom-body-font: 'Titillium Web';
$custom-title-font: 'MuseoModerno';

$custom-midnight-teal: #1A535C;
$custom-turquoise: #4ECDC4;
$custom-yellow: #FBB13C;
$custom-pink: #FF5B5B;
$custom-blue: #006992;
$box-shadow:  0 0.375rem 1.5rem 0 rgba(140,152,164,.125);

$font-family-base: $custom-body-font;
$headings-font-family:   $custom-title-font;

.btn-primary{
  background-color: $custom-blue;
}

.header-font{
  font-family: $headings-font-family;
}

@import "node_modules/bootstrap/scss/bootstrap";
